*

!.vscode/
!.vscode/tasks.json
!bash-ci/
!bash-ci/command-deploy.sh
!bash-ci/command-pull-images.sh
!bash-ci/command-purge.sh
!bash-ci/command-upgrade.sh
!bash-commands
!bash-commands--specific/
!bash-commands--specific/administration--update-configuration.sh
!bash-util
!docker/
!docker/server--nginx-certbot/
!docker/server--nginx-certbot/default.docker
!docker/server--nginx-certbot/rootfs/
!docker/server--nginx-certbot/rootfs/etc/
!docker/server--nginx-certbot/rootfs/etc/nginx/
!docker/server--nginx-certbot/rootfs/etc/nginx/nginx.conf
!docker/server--nginx-certbot/rootfs/opt/
!docker/server--nginx-certbot/rootfs/opt/server--nginx-certbot/
!docker/server--nginx-certbot/rootfs/opt/server--nginx-certbot/command-update-configuration.sh
!docker/server--nginx-certbot/rootfs/opt/server--nginx-certbot/entrypoint.sh
!docker/server--nginx-certbot/rootfs/opt/server--nginx-certbot/re-echo.sh
!docker/server--nginx-certbot/rootfs/opt/server--nginx-certbot/request-certificate-certbot.sh
!docker/server--nginx-certbot/rootfs/opt/server--nginx-certbot/request-certificate-self-signed.sh
!docker/server--nginx-certbot/rootfs/opt/server--nginx-certbot/request-certificate.sh
!docker/server--nginx-certbot/rootfs/opt/server--nginx-certbot/test-nginx-configuration.sh
!docker/server--nginx-certbot/rootfs/templates/
!docker/server--nginx-certbot/rootfs/templates/vhost.template.conf
!docker-compose/
!docker-compose/server--nginx-certbot/
!docker-compose/server--nginx-certbot/default.docker-compose
!volumes/
!volumes/proxy/
!volumes/proxy/manual-config/
!volumes/proxy/manual-config/localhost.conf
!.gitignore
!.gitmodules
!container.env
!host.env
!LICENCE
!README.md
